<div class="main-body">
  <div>
    <% @articles.each do |article| %>
      <div class="article-display">
        <h4><a href="<%= article.url %>"><%= article.title %></a><h4>
        <h6><%= "written by: " + article.author %><h6>
        <p><%= article.summary %></p>
        <h6><%= article.favorites.count.to_s + " favorites" %>
            <% if current_user.favorite_articles.include?(article) %>
              <%= link_to "unfavorite", favorite_path(:id, favorite: {article_id: article.id}), :method => :delete %>
            <% else %>
              <%= link_to "favorite", favorites_path(:favorite => { :article_id => article.id }), :method => :post %>
            <% end %>
        </h6>
        <h6><%= "published " + time_ago_in_words(article.published) + " ago" %><h6>
      </div>
    <% end %>
    <div class="pagination">
      <%= will_paginate @articles %>
    </div>
  </div>
<div>
