<!DOCTYPE html>
<html>
<head>
  <title>The Outbound Reader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <div class="main-body">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">Favorites</a></li>
        <li><%= link_to "Log out", session_path, :method => :delete %></li>
      </ul>
      <!-- <ul class="sign-out">
        <li><h5 class="sign-out"><%= button_to "sign out", {:controller => :sessions, :action => 'destroy'},
            :method => :delete %></h5></li>
      </ul> -->
    </div>
  <% end %>

  <%= yield %>
  <%= flash[:errors].join(", ") if flash[:errors] %>

</body>
</html>
